@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
:root, :root[data-theme='dark'] {
    --primary-color: #dF0F0F;

    --primary-bg-color: #111217;
    --secondary-bg-color: #28292E;
    --border-color: #28292E;
    --secondary-border-color: #56575A;

    --title-color: #9A9A9C;
    --text-color: #9A9A9C;
    --link-color: #9A9A9C;
    --icon-color: #C7C8C9;
}

:root[data-theme='light'] {
    --primary-color: #0B0B0F;

    --primary-bg-color: #E9E9E9;
    --secondary-bg-color: #C7C8C9;
    --border-color: #C7C8C9;

    --title-color: #0B0B0F;
    --text-color: #28292E;
    --link-color: #28292E;
    --icon-color: #56575A;
}

html[data-theme='light'] .brand__logo {
    filter: invert(1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

body {
    background: var(--primary-bg-color);
    font-family: 'Inter', Courier, monospace;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
    font-weight: 600;
}

h1 {
    font-size: 2.5rem;
    font-weight: 200;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

p {
    font-size: 1.25rem;
    text-align: justify;
}

h1, h2, h3 {
    font-family: 'League Spartan', Courier, monospace;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 200;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 60px;
}

.header__toggle {
    display: flex;
    justify-content: flex-end;
}

.header__brand .brand__logo {
    width: 2rem;
    height: auto;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--icon-color);
    cursor: pointer;
    transition: ease-in-out .4s;
}

.menu {
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
}

.menu__item {
    width: 100%;
}

.menu--mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border: 1px solid var(--border-color);
}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: .5rem;
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text {
    color: var(--primary-color);
    font-weight: 600;
}

.menu__icon, .menu__text {
    color: var(--text-color);
}

.menu__text {
    font-size: .75rem;
    text-transform: uppercase;
}

.header__nav {
    display: none;
}

.menu--principal {
    gap: 1rem;
}

@media (min-width: 768px) {
    .header {
        position: sticky;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
        padding: 1rem 4rem;
        background: var(--primary-bg-color);
        z-index: 1000;
    }
    
    .nav--mobile {
        display: none;
    }

    .header__nav {
        display: flex;
    }

    .header__nav,
    .header__toggle {
        min-width: 30%;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
        letter-spacing: 0.4rem;
    }
}

.h1 {
    font-size: 4rem;
}

main, .projects {
    padding: 8rem 6rem 4rem 6rem;;
}

.main__content1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skills {
    padding: 6.25rem 1rem 2rem 6rem;
    margin-top: -6rem;
}

footer {
    margin: 0;
}

@media (min-width: 992px) {
    .projects__card {
        flex-direction: row;
    }

    .projects__card__card--reverse {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .card__cover {
        width: 55%;
    }

    .about__me {
        gap: 5rem;
    }

    .about__me__txt h1 {
        text-align: left;
    }

    .buttons_connect {
        justify-content: flex-start;
    }

    .about__me, .about__me__2 {
        display: grid;
        grid-template-columns: 34% 60%;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4rem;
    }
}

@media (min-width: 1200px) {
    .main__content1 .btn {
        width: auto;
        padding: 2rem 4rem 2rem;
    }

    .skills {
        flex-direction: row;
        justify-content: space-between;
        padding: 10rem 6rem 4rem;
    }

    .skills h2 {
        font-size: 3.5rem;
        width: 60%;
    }

    .skills__list {
        gap: 1rem;   
    }

    .skills__item {
        width: 6rem;
        height: 6rem;
    }
    
    .skills__logo {
        height: 3rem;
    }

    h2 {
        font-size: 4rem;
    }

    .projects__card {
        flex-direction: row;
    }

    .card__cover {
        width: 50%;
    }
    
    .card__title {
        font-size: 3.25rem;
    }

    .card__description, .card__item {
        font-size: 1.25rem;
    }

    .card__buttons .btn {
        width: auto;
    }
}

@media (min-width: 1400px) {

    h1 {
        font-size: 6.25rem;
    }

    h2 {
        font-size: 5rem;
    }

    p {
        font-size: 1.5rem;
    }

    .header {
        position: sticky;
        top: 0;
        padding: 1rem 15rem;
        z-index: 1000;
    }
}

    main {
        padding: 12rem 15rem 2rem;
    }

    .skills {
        padding: 10 rem 5rem 4rem;
    }

.menu--social {
    gap: 1rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    width: 100%;
    background: transparent;
    border-radius: 3.125rem;
    border: none;
    padding: 0.875rem 1.5rem;
    transition: ease-in-out .3s;
    cursor: pointer;
    color: var(--primary-color);
}

.btn:hover {
    transform: scale(1.05);
    transition: ease-in-out .3s;
}

.btn span, btn i {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.btn--primary span {
    color: var(--primary-color);
}

.btn--primary {
    border: 1px solid #dF0F0F;
}

main, .projects {
    padding: 2.5rem 1rem;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    padding: 2.5rem 1rem;
    gap: 2rem;
}

.main__content1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main__content2 iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

main p {
    color: var(--text-color);
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0.25rem 1rem 2rem;
    background: var(--secondary-bg-color);
    margin-top: 4.5rem;
    gap: 1.25rem;
}

.skills h2 {
    margin-top: 2rem;
    text-transform: none;
    font-size: 2rem;
}

.skills__list {
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
}

.skills__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 4.8rem;
    height: 4.8rem;
    aspect-ratio: 1/1;
    border: 1px solid var(--secondary-border-color);
    border-radius: 50rem;
}

.skills__logo {
    width: 2.5rem;
    height: auto;
    aspect-ratio: 1/1;
}

.projects {
    display: flex;
    flex-direction: column;
}

.card__cover {
    margin-left: 3rem;
    width: 70%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.card__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.card__body__2 {
    margin: 0 0 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}


.projects__card {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.card__title {
    font-size: 1.5rem;
}

.card__description {
    font-size: 1rem;
    color: var(--title-color);
}

.card__list {
    margin-left: 3rem;
    color: var(--text-color);
}

.card__item {
    list-style: disc;
}

.card__buttons {
    display: flex;
}

.card__body .skills__item {
    width: 4rem;
    height: 4rem;
}

.card__body .skills__logo {
    height: 2rem;
}

footer {
    display: flex;
    justify-content: center;
    color: var(--link-color);
    font-size: small;
    padding: 2rem 0;
    margin-bottom: 5rem;
}

.projects__card__card--reverse {
    display: flex;
    gap: 2rem;
    flex-flow: row-reverse;
    width: 100%;
} 

.projects__card__card--reverse .card__cover {
    margin: 4.5rem 4rem 4.5rem 0rem;
}

.projects__card_3 {
    display: flex;
    gap: 2rem;
    width: 100%;
} 

.projects__card_3 .card__cover {
    margin: 4.5rem 0rem 4.5rem 4.5rem;
}

#button__projects {
    width: 25%;
    position: relative;
    left: 43rem;
}

.about__me {
    width: 100%;
    display: flex;
    align-items: center;
}

.user__img {
    margin: 10rem;
}

.user__img img {
    width: 20rem;
}

.info__txt {
    width: 70rem;
    color: var(--text-color);
}

.language__me {
    margin: 2rem 0 2rem 0;
    display: flex;
    gap: 1rem;
}

.buttons_connect {
    display: flex;
}

.form {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.form h2 {
    display: flex;
}

.form__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.college, .education {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}

.about__me__2 {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    margin-left: 10rem
}

.form, .cur {
    flex: 1 1 calc(50% - 8rem);
    display: flex;
    flex-direction: column;
}

.exp {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.exp__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.cur {
    flex: 1 1 calc(50% - 8rem);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cur__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

#accordion {
    border-radius: .5rem;
    border: 1px solid var(--border-color);
}

.accordion__header {
    width: 35vw;
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border-color);
    background: transparent;
}

.accordion__header span {
    color: var(--title-color);
    font-size: 1.15rem;
}

.accordion__header.start {
    border-radius: 0.25rem 0.25rem 0rem 0rem;
}

.accordion__header.end,
.accordion__item.active .accordion__body.end {
    border-radius: 0rem 0rem 0.25rem 0.25rem;
}

.accordion__item.active .accordion__header.end {
    border-radius: 0;
}

.accordion__body {
    display: none;
    padding: 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    border: 1px solid var(--border-color);
}

.accordion__item.active .accordion__header {
    background: var(--secondary-bg-color);
}

.accordion__item.active .accordion__body {
    display: flex;
}

.accordion__item.active .bi-caret-down-fill {
    transform: rotate(180deg);
}

.find {
    margin: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.find p {
    width: 40%;
    color: var(--text-color);
    text-align: center;
}

.find button {
    width: 40%;
}

footer p {
    font-size: .875rem;
    text-align: center;
    padding: 1rem;
}
